{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <link href="{% static "css/bootstrap.min.css" %}" rel= "stylesheet">
    <link href="{% static "css/style_page_teamlead.css" %}" rel="stylesheet">
    <link rel="icon" href="http://static1.shine.com/media/images/favicon.ico">

    <title>{%block title%}Home{%endblock title%}</title>

</head>
<body>

{%block mainbody%}

<div class="container">
    <div class="row"> 
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="login_inner_box bg_red">
            <h4>Caller List</h4> 
            <span class="icon_caller sprite_call">  </span>
            <span class="box_lead_ftr"> <a href="/get-caller-list/"> View Caller List</a> <span class="glyphicon glyphicon-download icon_rotate"> </span> </span>
            </div>
        </div>
            
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="login_inner_box bg_lt_blue">
            <h4>Upload Lead</h4> 
            <span class="icon_upload sprite_call">  </span>
            <span class="box_lead_ftr"> <a href="/uploadleads/"> View Leads</a> <span class="glyphicon glyphicon-download icon_rotate"> </span> </span>
            </div>
        </div>
    
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="login_inner_box bg_dark_yellow">
            <h4>Process File</h4> 
            <span class="icon_process sprite_call">  </span>
            <span class="box_lead_ftr"> <a href="#"> View Leads</a> <span class="glyphicon glyphicon-download icon_rotate"> </span> </span>
            </div>
        </div>

    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="login_inner_box bg_green">
            <h4>Leads List</h4> 
            <span class="icon_list_lead sprite_call">  </span>
            <span class="box_lead_ftr"> <a href="/lead/"> View Leads</a> <span class="glyphicon glyphicon-download icon_rotate"> </span> </span>
            </div>
        </div>
                
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="login_inner_box bg_blue">
            <h4>MY Dashboard</h4> 
            <span class="icon_dash_lead sprite_call">  </span>
            <span class="box_lead_ftr"> <a href="#"> View Dashboard</a> <span class="glyphicon glyphicon-download icon_rotate"></span></span>
            </div>
        </div>
        
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <div class="login_inner_box bg_dark_grey">
            <h4>Reports</h4> 
            <span class="icon_report sprite_call">  </span>
            <span class="box_lead_ftr"> <a href="#"> View Reports</a> <span class="glyphicon glyphicon-download icon_rotate"> </span> </span>
            </div>
        </div> <!--col end here-->
    </div> <!--row end here-->
</div> <!--container end here-->


{%endblock mainbody%}

</body>
</html>

