{% load staticfiles %}

{% if teamlead %}

	{% include "TeamLeader/navbar.html"%}
{% else %}

	{% include "caller/navbar.html"%}

{% endif %}


{%block mainbody%}

<div class="container">     
  <div class="row"> 
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-10 col_ctr padtb_30"> 
 			<h4 class="padb_30"> Reset Password</h4>
            <div class="resetpass_boundary">
            <form id="resetpass" action="/" method="post" class="resetpassform">{%csrf_token%}
                {{form.as_p}}
            
                <button type="submit" class="btn btn_submit_1 pull-right">Change Password</button>
            </form>
            </div>
        </div> <!--all columns end here-->
  </div>

</div> <!--container end here-->

{%endblock mainbody%}

{%block footer%}

	<footer class="padtb_30 footer_inner">
	  <div class="container" >
	    <p>© 2015 Careerplus.shine.com All Rights Reserved.</p>
	  </div>
	</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    
 {%endblock footer%}