{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{% block title %}CRM Template | Caller login{%endblock title%}</title>
   <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>-->

    {%block css%}
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}"rel= "stylesheet">
    <link href="{% static "css/style_page.css"%}" rel="stylesheet">
    <link rel="icon" href="http://static1.shine.com/media/images/favicon.ico">
    
    {%endblock css%}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body onload="search_box.reset();">
{% block header %}
  <nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand sprite_call logo_inner" href="/home/"> </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse nav_style" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
    <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leads <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/lead/">Today's Leads</a></li>
            <li><a href="/follow-up-lead/">Follow Up Leads</a></li>
            <li><a href="#">Pending Decision</a></li>
            <li><a href="#">Price Denied Leads</a></li>
            <li><a href="#">Callback/Try Again Leads</a></li>
            <li><a href="/addlead/">Add Lead</a></li>
          </ul>
        </li>
        
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dashboard <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Dashboard</a></li>
          </ul>
        </li>
      
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Report <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My Report</a></li>
            <li><a href="#">Source-wise Report</a></li>
            
          </ul>
        </li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
      <form class="navbar-form navbar-left" role="search" action="/search/" method="GET"> 
        <div class="form-group">
          <input type="text" class="form-control nav_search_input" id= "search_box" name = "search_box" placeholder="Search lead by contact no. or email ID">
          <a href="/search/"> <span class="sprite_call btn_search"> </span> </a>
        </div>
      </form>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <img src="../../static/images/image.gif"> {{user.first_name}} {{user.last_name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/reset_password/">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav> <!--navbar end here-->
  {%endblock header%}

{%block mainbody%}{%endblock mainbody%}

{%block footer%}

<footer class="padtb_30 footer_inner">
  <div class="container" >
    <p>© 2015 Careerplus.shine.com All Rights Reserved.</p>
  </div>
</footer>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    
    {%endblock footer%}

  </body>
</html>